<!DOCTYPE HTML>
<html>
<head>
    <title>Playground</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var player_id = '';
            var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");
            ctx.fillStyle = "#000000"
            ctx.fillRect(0, 0, 330, 330)
            function draw(x, y, width, height, color){
                //draws rectangles on canvas
                ctx.fillStyle = color;
                ctx.fillRect(x, y, width, height);
            }
            function veiw_port(list){
                //draws the information passed from the server.
                width = 60
                height = 60
                gridwidth = 330;
                gridheight = 330;
                index = 0
                for(var x = 5; x < gridwidth;){
                    for(var y = 5; y < gridheight;){
                        draw(x, y, width, height, list[index]);
                        y = y + 65;
                        index = index + 1
                    }
                    x = x + 65;
                }
            }
            namespace = '/test';
            var port = 80
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io('http://' + document.domain + ':' + port + namespace);
            // Event handler for new connections.
            socket.on('veiw_port', function(msg, cb) {
                if(player_id == msg.data){
                    veiw_port(msg.veiw);
                if (cb)
                    cb();}
            });
            socket.on('connected', function(data, cb) {
                player_id = data.data
            });
            // Handlers for event listeners in the page.
            // These accept data from the user and send it to the server
            document.addEventListener('keydown',function(event){
                // socket.emit('my_key', {data: 'key down'});
                if (event.keyCode == 68){
                    socket.emit('left', {data: 'left'});

                    }
                else if (event.keyCode == 87){
                    socket.emit('up', {data: 'up'});

                    }
                else if (event.keyCode == 65){
                    socket.emit('right', {data: 'right'});

                    }
                else if (event.keyCode == 83){
                    socket.emit('down', {data: 'down'});

                    }
            });

        });
    </script>
</head>
<body>
    <h1>Playground</h1>
    <canvas id="canvas" width="330" height="330"></canvas>
</body>
</html>
